body{
  background-color: black;
  font-family: Verdana, sans-serif;
  color: white;
  text-align: center;
}

.header{
  font-size: 50px;
}

a{
  color: aquamarine;
  font-size: 16px;
}

.body{
  font-weight: 300;
  font-size: 42px;
}

#gray{
  font-size: 21px;
  color: gray;
}

.footer{
  text-align: right;
}
